<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>713099054200-7o0769iso50e310568vd4sti2dlcvje0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.713099054200-7o0769iso50e310568vd4sti2dlcvje0</string>
	<key>API_KEY</key>
	<string>AIzaSyAg6HqfyM3kiGw_5nUPioxbczPh0XNf1SA</string>
	<key>GCM_SENDER_ID</key>
	<string>713099054200</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pushApp</string>
	<key>PROJECT_ID</key>
	<string>flutter-projects-f503d</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-projects-f503d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:713099054200:ios:9135e3e34a0a17a952f18d</string>
</dict>
</plist>